[submodule "frameworks_ex"]
	path = frameworks_ex
	url = https://android.googlesource.com/platform/frameworks/ex
[submodule "libbackup"]
	path = libbackup
	url = https://android.googlesource.com/platform/external/libbackup
[submodule "Dialer2"]
	path = Dialer2
	url = https://github.com/madushan1000/Dialer2
